<h1>Carrinho de Compras</h1>

<br>
<% total = 0 %>

<ul>
<% @carrinho.each do |id, quantity| %>
    <% bebida = Bebida.find_by_id(id) %>

    <li>
      <%= link_to bebida.nome, bebida %>
      <td><%= image_tag bebida.avatar.url(:thumb) %></td>
      <p>Descrição: <%= bebida.descricao %><p>
      <p><%= number_to_currency(bebida.preco, :unit => '$') %></p>
      <p>Quantidade: <%= quantity %></p>
    </li>
    <hr>
    <% total += quantity * bebida.preco %>
<% end %>

<p><b>TOTAL: <%= number_to_currency(total, :unit => '$') %></b></p>
</ul>
<% if total > 0 %>
  <li><%= link_to 'Comprar (Paypal)','https://www.paypal.com/br/home',{:target =>
  "_new"} %></li>
  <br>
  <li><%= link_to 'Esvaziar o Carrinho', carrinho_limpar_path %></li>
<% else %>
  <p> Carrinho Vazio no momento. Comece a comprar suas bebidas </p>
<% end %>
<br>
<li><%= link_to 'Comprar Mais', bebidas_path %></li>
