<!DOCTYPE html>
<html>
    
  <head>
    <title>Distribuidora de Bebidas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/bebidas">Shop</a>
                    </li>
                    <li>
                        <a href="/carrinho">Carrinho</a>
                    </li>
                    <li>
                        <a href="/pagina/sobre">Sobre</a>
                    </li>
                    <li>
                    <% if user_signed_in? %>
                    
                        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
                    
                    <% else %>
                    <%= link_to "Cadastrar", new_user_registration_path %>
                    </li>
                    <li>
                    <%= link_to "Login", user_session_path %>
                    <% end %>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
